.root {
    -fx-font-family: 'Arial';
}

MenuBar {
    -fx-background-color: #d5dee7;
}

Menu {
    -fx-text-fill: white;
}

Button {
    -fx-background-color: #3498db;
    -fx-text-fill: rgb(80, 63, 63);
    -fx-font-size: 14px;
    -fx-background-radius: 5;
}

MediaView {
    -fx-border-color: #74a3a7;
    -fx-border-width: 2px;
}
